* {
    box-sizing: border-box;
}

.navbar-toggler {
    margin: 10px;
    border: 1px solid black;
}

main {
    margin-top: 75px;
}

.navbar-nav {
    display: none;
}

.search-feature {
    display: none;
}

.form-group {
    padding: 10px 0px;
}

footer {
    margin-top: 10px;
    text-align: center;
    line-height: 5px;
}

img {
    height: 75px;
    width: 75px;
}

.striker-badge {
    background-color: #4b89dc;
    color: white;
}

.mid-badge {
    background-color: #8dc153;
    color: white;
}

.def-badge {
    background-color: #f6bb43;
    color: white;
}

#searchresults {
    font-weight: 600;
    font-size: larger;
    margin-bottom: 20px;
}

.entries {
    text-align: right;
}

.navbar {
    background-color: #ffedc2;
    padding: 0;
    border: 1px solid #cbba83;
}

.navbar-brand {
    padding: 0;
}

.navbar-brand img {
    padding: 10px;
}

.navbar-text {
    color: black;
    font-size: 1.5rem;
    font-weight: 600;
}

.results {
    padding: 15px;
    background-color: #fffff5;
}

thead {
    background-color: #cbba83;
}

.btn {
    background-color: #cbba83;
    color: black;
}

td a {
    color: black;
}

table {
    border: 1px solid #cbba83;
}

.flex-container {
    display: flex;
    justify-content: flex-end;
}

@media (min-width: 598px) {     
}

@media (min-width: 992px) {

    .navbar-toggler {
        display: none;
    }

    .navbar-nav {
        display: flex;
    }
    
    .nav-link {
        color: rgba(0, 0, 0, 0.6);
        font-size: 1.2rem;
    }
    
    .nav-item {
        padding: 15px;
    }

    .nav-item:hover {
        background-color: #fffff5;
    }

    .active {
        font-weight: bold;
    }

    .search-feature {
        display: flex;
        padding: 70px 10px 10px 50px;
        background-color: #ffedc2;
        border: 1px solid #cbba83;
    }
}