/* home page */

* {
    box-sizing: border-box;
}

main {
    margin-top: 75px;
    background-color: #fffff5;
}

.navbar {
    background-color: #ffedc2;
    padding: 0;
    border: 1px solid #cbba83;
}

.navbar-toggler {
    margin: 10px;
    border: 1px solid black;
}

.navbar-brand {
    padding: 0;
}

.navbar-brand img {
    padding: 10px;
    height: 75px;
    width: 75px;
}

.navbar-text {
    color: black;
    font-size: 1.5rem;
    font-weight: 600;
}

.nav-link {
    color: rgba(0, 0, 0, 0.6);
    font-size: 1.2rem;
}

.nav-item {
    padding-left: 10px;
}

.active {
    font-weight: bold;
}

#search-feature {
    padding: 20px 10px 10px 40px;
    background-color: #ffedc2;
    border: 1px solid #cbba83;
}

#searchtext {
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 18px;
    color: #72602a;
}

.results {
    padding: 15px;
}

.results-entries {
    display: none;
}

.result-table {
    border: 1px solid #cbba83;
    overflow-x:auto
}

thead {
    background-color: #cbba83;
}

td a {
    color: black;
}

.player-img {
    height: 75px;
    width: 75px;
}

.striker-badge {
    background-color: #4b89dc;
    color: white;
    margin: 10%;
}

.mid-badge {
    background-color: #8dc153;
    color: white;
    margin: 10%;
}

.def-badge {
    background-color: #f6bb43;
    color: white;
    margin: 10%;
}

.gk-badge {
    background-color: #e9573e;
    color: white;
    margin: 10%;
}

.btn {
    background-color: #cbba83;
    color: black;
}

.btn:hover {
    background-color: #fffff5;
    border: 1px solid #cbba83;
}

.flex-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}

footer {
    display: none;
}

/* player page */

.player-card {
    margin-top: 30px;
    margin-bottom: 30px;
}

.card {
    width: 400px;
    margin: auto;
}

.card-header {
    text-align: center;
}

.field {
    font-weight: 600;
}

/* team formation page */

.field-team {
    padding: 30px;
}

.soccer-field {
    background-image: url("../img/soccer-field-background.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 850px;
    /* max-width: 100%;
    height: auto; */
}

.team-table {
    margin: 20px;
}

.remove-icon {
    text-align: center;
}

#pos-1 {
    position: absolute;
    left: 46%;
    top: 14%;
}

#pos-2 {
    position: absolute;
    left: 73%;
    top: 18%;
}

#pos-3 {
    position: absolute;
    left: 21%;
    top: 18%;
}

#pos-4 {
    position: absolute;
    left: 29%;
    top: 40%;
}

#pos-5 {
    position: absolute;
    left: 62%;
    top: 40%;
}

#pos-6 {
    position: absolute;
    left: 45%;
    top: 43%;
}

#pos-7 {
    position: absolute;
    left: 14%;
    top: 65%;
}

#pos-8 {
    position: absolute;
    left: 77%;
    top: 65%;
}

#pos-9 {
    position: absolute;
    left: 33%;
    top: 70%;
}

#pos-10 {
    position: absolute;
    left: 58%;
    top: 70%;
}

#pos-11 {
    position: absolute;
    left: 46%;
    top: 80%;
}

.team-badge {
    margin-left: 20%;
    margin-top: 10%;
}

/* leaderboard page */

.formt-img {
    display: block;
    margin-top: 10px;
    height: 5em;
    width: 7em;
}

.formation-img {
    height: 40%;
    width: auto;
}

#more {display: none;}

.entries2 {
    text-align: end;
}

h1 {
    padding-top: 15px;
    text-align: center;
    font-size: 20px;
}

.table-top {
    padding: 10px;
}

@media (min-width: 598px) {
    .results-entries {
        display: flex;
    }

    #searchresults {
        font-weight: 600;
        font-size: larger;
        margin-bottom: 20px;
    }
    
    .entries {
        text-align: right;
    }
}

@media (min-width: 768px) {
    footer {
        display: block;
        margin-top: 10px;
        text-align: center;
        line-height: 5px;
    }

    .team-name-text {
        font-size: 40px;
    }

    h1 {
        font-size: 40px;
    }

    .table-top {
        padding: 10px;
    }
}

@media (min-width: 992px) {
    
    .nav-item {
        padding: 15px;
    }

    .nav-item:hover {
        background-color: #fffff5;
    }

    #search-feature {
        padding: 50px 10px 10px 40px;
    }
    
    #searchtext {
        margin-bottom: 40px;
    }
    
    .form-group {
        padding: 10px 0px;
    }

    #myBtn {
        display: none;
    }

    #dots {
        display: none;
    }

    #more {
        display: inline;
    }
}