* {
    box-sizing: border-box;
}

.navbar-toggler {
    margin: 10px;
    border: 1px solid black;
}

.navbar-nav {
    display: none;
}

.navbar {
    background-color: #ffedc2;
    padding: 0;
    border: 1px solid #cbba83;
}

.navbar-brand {
    padding: 0;
}

.navbar-brand img {
    padding: 10px;
}

.navbar-text {
    color: black;
    font-size: 1.5rem;
    font-weight: 600;
}

.navbar-nav {
    display: flex;
}

.nav-item {
    padding: 15px;
}

footer {
    margin-top: 10px;
    text-align: center;
    line-height: 5px;
}

.team {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    max-height: auto;
}

.col-logo {
    padding: 10px;
    margin: 0%;
} 

.col {
    background-color: green;
}
.Team-Name {
    color: white;
    text-align: center;
    margin-top: 30px;
    font-size: 60px;
}

.change-logo {
    font-size: 21.7px;
    color: green;
}

.change-logo:hover {
    text-decoration: underline;
}

.Name {
    background-color: green;
    color: white;
}

.col-2 {
    background-color: white;
}

.empty {
    background-color: white;
}

.formation {
    background-color: #cbba83;
    margin: 10px;
}

.Team-Setup {
    /* font-size: 30px; */
    /* font-size: 60px; */
    margin: 10px;
} 

.selected-formation {
    background-color: lightgreen;
    color: white;
    padding: 10px;
    margin: 10px;
}

.select-position {
    background-color: lightgray;
    color: black;
    padding: 10px;
    text-align: center;
    margin: 50px;
}

.search-bar {
    text-align: left;
    border: black 2px;
}

.position-results {
    margin: auto;
}

.strategy {
    background-color: green;
    color: white;
    font-size: 24px;
    text-align: left;
    padding: 2px;
}

.team-strategy {
    background-color: lightgreen;
    color: white;
    padding: 10px;
    margin: 10px;
}

.td {
    border: solid black 2px;
}

#more {display: none;}







@media (min-width: 598px) {     
}