/* home page */

* {
    box-sizing: border-box;
}

main {
    margin-top: 75px;
    background-color: #fffff5;
}

.navbar {
    background-color: #ffedc2;
    padding: 0;
    border: 1px solid #cbba83;
}

.navbar-toggler {
    margin: 10px;
    border: 1px solid black;
}

.navbar-brand {
    padding: 0;
}

.navbar-brand img {
    padding: 10px;
    height: 75px;
    width: 75px;
}

.navbar-text {
    color: black;
    font-size: 1.5rem;
    font-weight: 600;
}

.navbar-nav {
    display: none;
}

.search-feature {
    display: none;
}

.form-group {
    padding: 10px 0px;
}

.results {
    padding: 15px;
}

.results-entries {
    display: none;
}

.result-table {
    border: 1px solid #cbba83;
    overflow-x:auto
}

thead {
    background-color: #cbba83;
}

td a {
    color: black;
}

.player-img {
    height: 75px;
    width: 75px;
}

.striker-badge {
    background-color: #4b89dc;
    color: white;
}

.mid-badge {
    background-color: #8dc153;
    color: white;
}

.def-badge {
    background-color: #f6bb43;
    color: white;
}

.btn {
    background-color: #cbba83;
    color: black;
}

.btn:hover {
    background-color: #fffff5;
    border: 1px solid #cbba83;
}

.flex-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}

footer {
    display: none;
}

/* player page */

.player-card {
    margin-top: 30px;
    margin-bottom: 30px;
}

.card {
    width: 400px;
    margin: auto;
}

.card-header {
    text-align: center;
}

.field {
    font-weight: 600;
}

@media (min-width: 598px) {
    .results-entries {
        display: flex;
    }

    #searchresults {
        font-weight: 600;
        font-size: larger;
        margin-bottom: 20px;
    }
    
    .entries {
        text-align: right;
    }
}

@media (min-width: 768px) {
    footer {
        display: block;
        margin-top: 10px;
        text-align: center;
        line-height: 5px;
    }
}

@media (min-width: 992px) {

    .navbar-toggler {
        display: none;
    }

    .navbar-nav {
        display: flex;
    }
    
    .nav-link {
        color: rgba(0, 0, 0, 0.6);
        font-size: 1.2rem;
    }
    
    .nav-item {
        padding: 15px;
    }

    .nav-item:hover {
        background-color: #fffff5;
    }

    .active {
        font-weight: bold;
    }

    .search-feature {
        display: block;
        padding: 50px 10px 10px 40px;
        background-color: #ffedc2;
        border: 1px solid #cbba83;
    }

    #searchtext {
        margin-bottom: 40px;
        font-weight: 600;
        font-size: 18px;
        color: #72602a;
    }
}