* {
    box-sizing: border-box;
}

main {
    margin-top: 110px;
    background-color: #fffff5;
}

/* common style */

h1 {
    text-align: center;
    font-size: x-large;
    font-weight: bold;
    padding: 1%;
}

.btn {
    background-color: #cbba83;
    border: 1px solid #cbba83;
    color: black;
    transition: none;
}

.player-table {
    border: 1px solid #cbba83;
    overflow-x:auto;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
}

thead {
    background-color: #cbba83;
}

#striker-badge {
    background-color: #4b89dc;
    color: white;
    margin: 5%;
    font-size: medium;
}

#mid-badge {
    background-color: #8dc153;
    color: white;
    margin: 5%;
    font-size: medium;
}

#def-badge {
    background-color: #f6bb43;
    color: white;
    margin: 5%;
    font-size: medium;
}

#gk-badge {
    background-color: #e9573e;
    color: white;
    margin: 5%;
    font-size: medium;
}

.change-pointer:hover {
    cursor: pointer;
}

/* navbar */

.navbar {
    background-color: #ffedc2;
    padding: 0;
    border: 1px solid #cbba83;
}

#logo-img {
    padding: 10px 10px 10px 10px;
    height: 75px;
    width: 75px;
}

.navbar-text {
    color: black;
    font-size: 1.5rem;
    font-weight: 600;
}

.eachtab {
    color: rgba(0, 0, 0, 0.6);
    font-size: 1.2rem;
}

.nav-item {
    padding-left: 10px;
}

.navbar-brand {
    padding: 0;
}

.activeLink {
    font-weight: bold;
}

.eachtab:hover {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.6);
}

.signin-tab {
    padding: 15px;
    margin-right: 5%;
}

/* home page */

#home-main {
    padding-right: 1%;
}

#search-feature {
    padding: 20px 20px 10px 40px;
    background-color: #ffedc2;
    border: 1px solid #cbba83;
}

#searchtext {
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 18px;
    color: #72602a;
}

#search-btn {
    margin-right: 5%;
}

#reset-btn {
    margin-left: 5%;
}

.btn:hover:enabled {
    background-color: #fffff5;
    border: 1px solid #cbba83;
    color: black;
}

.results {
    padding: 15px;
    padding-left: 30px;
}

#searchresults {
    font-weight: 600;
}

#limit-text {
    padding: 0;
    padding-top: 1%;
}

.entries {
    text-align: left;
}

#info {
    font-size: large;
}

.data-row:hover {
    background-color: white;
}

.player-img {
    height: 75px;
    width: 75px;
}

.features {
    padding: 3%;
}

.card-form {
    margin: 2%;
}

.card-header {
    text-align: center;
    font-size: x-large;
}

#card-img {
    text-align: center;
}

#card-img img {
    height: 250px;
    width: 280px;
}

.field {
    font-weight: 600;
}

.input-row {
    padding-top: 1%;
    padding-bottom: 1%;
}

.not-liked {
    color: lightgray;
}

.liked {
    color: red;
}

#top-btn {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.scroll-buttons {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}

#prev-btn {
    margin-right: 1%;
}

.modal-header {
    display: flex;
    justify-content: center;
    padding-top: 0;
}

.modal-title {
    font-size: xx-large;
}

.close {
    text-align: right;
    padding-right: 3%;
    padding-top: 3%;
    font-size: xx-large;
}

footer {
    display: none;
}

/* compare player page */

.error-message {
    text-align: center;
    padding: 1%;
    font-size: larger;
}

.remove-player {
    font-size: xx-large;
    vertical-align: 100%;
}

#first-row {
    padding-top: 0;
}

.better {
    color: rgb(38, 177, 38);
    font-weight: 700;
}
 
.worse {
    color: red;
    font-weight: 700;
}

.med {
    color: rgb(156, 156, 156);
    font-weight: 700;
}
 
.subheading {
    font-size: large;
    font-weight: 500;
}

.compare-img {
    height: 100%;
    width: 73%;
}

@media (min-width: 398px) {

    main {
        margin-top: 75px;
    }

    .compare-img {
        height: 100%;
        width: 3.7em;
    }
}

@media (min-width: 598px) {

    #searchresults {
        font-weight: 600;
        font-size: larger;
        margin-bottom: 20px;
    }

    .entries {
        text-align: right;
    }

    #limit-text {
        display: inline-block;
        padding-right: 15px;
        padding-left: 15px;
    }

    .compare-img {
        height: 100%;
        width: 3.7em;
    }

}

@media (min-width: 768px) {

    footer {
        display: block;
        margin-top: 10px;
        text-align: center;
        line-height: 5px;
    }

    .compare-img {
        height: 100%;
        width: 5.6em;
    }

}

@media (min-width: 992px) {
    
    .nav-item {
        padding: 15px;
    }

    .nav-item:hover {
        background-color: #fffff5;
    }

    .signin-tab:hover {
        background-color: #fffff5;
    }

    #search-feature {
        padding: 50px 10px 10px 40px;
    }
    
    #searchtext {
        margin-bottom: 40px;
    }
    
    .form-group {
        padding: 10px 0px;
    }

    .compare-input {
        margin-right: 30%;
    }

    .compare-img {
        height: 100%;
        width: 8.8em;
    }
}